<header>
  <mat-toolbar color="primary">
    <a routerLink="" mat-button>
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      Home
    </a>
    <a routerLink="shop" mat-button>
      <mat-icon aria-hidden="false" aria-label="Example home icon">movie</mat-icon>
      About
    </a>
    <a routerLink="products" mat-button>
      <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_basket</mat-icon>
      Products
    </a>
    <a routerLink="categories" mat-button>
      <mat-icon aria-hidden="false" aria-label="Example home icon">category</mat-icon>
      Categories
    </a>
  </mat-toolbar>
</header>
