.card-item{
  padding: 20px;
  border-radius: 10px;
  background: #d8d8d8;
  margin-bottom: 10px;
  border: 1px solid black;
}
.card-item img{
  width: 218px;
}
#cards-container{
  display: flex;
  gap: 20px;
  justify-content: center;
}
