footer{
  /*width: 100%;*/
  /*margin: 0;*/
  /*background: #1976d2;*/
  /*color: white;*/
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  bottom:0;
  width:100%;
  padding: 5px 0;  /* Height of the footer */
  background:#6cf;
}
footer h2{
  margin: 0;
}
footer p{
  margin: 0 10px;
}
