<h2 class="text-center mt-3">Create an action</h2>
<form (submit)="submit()" [formGroup]="form" class="container pt-3">
  <!--  <div>-->
  <!--    <mat-form-field appearance="fill">-->
  <!--      <mat-label>Id:</mat-label>-->
  <!--      <input formControlName="id" matInput>-->
  <!--    </mat-form-field>-->
  <!--  </div>-->
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Name:</mat-label>
      <input formControlName="name" matInput>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Description:</mat-label>
      <input formControlName="description" matInput>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Tag:</mat-label>
      <input formControlName="tag" matInput>
    </mat-form-field>
  </div>
  <!-- <div>
    <mat-form-field appearance="fill">
      <mat-label>Description:</mat-label>
      <input formControlName="name" matInput>
    </mat-form-field>
  </div> -->
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Execution Time:</mat-label>
      <input matInput [matDatepicker]="picker" type="datetime-local" formControlName="executionTime">


      <mat-datepicker #picker ></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <button [disabled]="!form.valid" mat-raised-button type="submit" color="accent" class="m-2">Save</button>
    <a routerLink="/actions" mat-raised-button>Back</a>
  </div>

</form>
